@import 'tailwind/_base.css';
@import 'tailwind/_components.css';
@import 'tailwind/_utilities.css';

@layer base {
    @font-face {
        font-family: art-regular;
        font-weight: 400;
        src: url(/font/Pacifico-Regular-all.ttf) format('truetype');
    }
    h1 {
        @apply text-6xl font-black;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
}

@layer components {
    .box {
        @apply rounded-2xl p-1;
    }

    .box-bg {
        @apply bg-gradient-to-b from-zinc-200/50 to-white/50 shadow-xl shadow-slate-800/10 ring-1 ring-slate-900/5 backdrop-blur;
    }

    .box-btn {
        @apply hover:to-zinc-200/50 hover:shadow-none;
    }
}

@keyframes typing-pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

:root {
    --header-position: sticky;
    --header-color: #444;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-track-piece {
    width: 24px;
    background-color: transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical {
    width: 24px;
    height: 24px;
    background: rgba(214, 212, 212, 0.3);
    border-radius: 8px;
    border: 1px solid #9c9c9c;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 24px;
    height: 24px;
    background: rgba(214, 212, 212, 0.3);
    border-radius: 8px;
    border: 1px solid #9c9c9c;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    display: none;
}
